### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Compiled Files ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log

### Build Directories ###
build/
target/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Eclipse ###
.apt_generate
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### OS Specific ###
.DS_Store
Thumbs.db